<p>¡Hola {{ fullname }}!,</p>
<p>Verifique su correo electrónico con el código a continuación</p>
<p>Tu código de verificación es: {{code}}</p>

<p>Si no solicitó este correo electrónico, puede ignorarlo con seguridad.</p>

